*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(245.59deg, #706C61 0%,#F8F4E3 100%);
    min-height: 100vh;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}


.logo{
    font-size: 35px;
    font-weight: 700;
    color: #2A2B2A;
}

.navlist{
    display: flex;
}

.navlist a{
    color: #2A2B2A;
    margin-left:  60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid #2A2B2A;
}


#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 15%;
}

.hero-img img{
    margin-left: 10%;
    width: 90%;
    height: 50%;
}

.hero-text h5{
    font-size: 100%;
    font-weight: 400;
    color: #2A2B2A;
    margin-bottom: 40px;
}

.hero-text h1{
    font-family: "Playwrite CU", cursive;
    font-size: 250%;
    line-height: 1;
    color: #2A2B2A;
    margin: 0 0 45px ;
}

.hero-text a{
    line-height: 1;
    color: #2A2B2A;
    margin: 0 0 45px ;
}

.icons{
    position: absolute;
    top: 47%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 30px 0;
    font-size: 24px;
    color: #2A2B2A;
    transition: all .50s ease;
}

/* Css relacionado a la pagina contactos*/


.hero-contacto{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
    gap: 2rem;
}

.contenedor{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 1500px;
    height: 500px;
    background-color: rgb(235, 229, 229);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(14, 13, 13);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.contacto-info{
    background: linear-gradient(245.59deg, #706C61 0%,#F8F4E3 200%);
}

.contacto-form{
    background-color: #b4b0a2;
    position: relative;

}

.circulo {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 30%, #2A2B2A);
    position: absolute;
    background-color:#b4b0a2;
  }
  
  .circulo.uno {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circulo.dos {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }

  .contacto-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #b4b0a2;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }

 form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .titulo-c {
    color: #2A2B2A;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .subform {
    position: relative;
    margin: 1rem 0; /*Espacio entre los campos*/
  }
  /**/  
  .entrada {
    width: 100%;
    outline: none;
    border: 2px solid #2A2B2A;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #2A2B2A;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.entrada {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .subform label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #2A2B2A;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .subform.textarea label {
    top: 1rem;
    transform: translateY(0);
  }


  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #2A2B2A;
    border: 2px solid #2A2B2A;
    font-size: 0.95rem;
    color: #b4b0a2;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #2A2B2A;
  }
  
  .subform span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .subform span:before,
  .subform span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #b4b0a2;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .subform span:before {
    left: 50%;
  }
  
  .subform span:after {
    right: 50%;
  }
  
  .subform.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .subform.focus span:before,
  .subform.focus span:after {
    width: 50%;
    opacity: 1;
  }






















  /* Css relacionado a cataloggo*/

  .producto {
    background-color: white;
    margin: 15px;
    width: 250px;
    text-align: center;
    padding: 15px;
  }

  .producto img {
    max-width: 100%;
  }

  .producto h3 {
    font-size: 18px;
  }

  .producto p {
    font-size: 14px;
    color:#2A2B2A
  }

  .producto .precio {
    font-size: 20px;
    color: #706C61;
  }

  .producto button {
    padding: 10px 20px;
    background-color: #2A2B2A;
    color: white;
    border: none;
    cursor: pointer;
  }

  .producto button:hover {
    background-color: #706C61;
  }
  
  .catalogo {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px;
    background: transparent;
}