* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  list-style: none;
  text-decoration: none;
}

body {
  background: linear-gradient(245.59deg, #706C61 0%, #F8F4E3 100%);
  min-height: 100vh;
}

header {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}


.logo {
  font-size: 35px;
  font-weight: 700;
  color: #2A2B2A;
}

.navlist {
  display: flex;
}

.navlist a {
  color: #2A2B2A;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid #2A2B2A;
}


#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 15%;
}

.hero-img img {
  margin-left: 10%;
  width: 90%;
  height: 50%;
}

.hero-text h1 {
  font-size: 100%;
  font-weight: 400;
  color: #2A2B2A;
  margin-bottom: 40px;
}

.hero-text h2 {
  font-family: "Playwrite CU", cursive;
  font-size: 250%;
  line-height: 1;
  color: #2A2B2A;
  margin: 0 0 45px;
}

.hero-text a {
  line-height: 1;
  color: #2A2B2A;
  margin: 0 0 45px;
}

.icons {
  position: absolute;
  top: 47%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 30px 0;
  font-size: 24px;
  color: #2A2B2A;
  transition: all .50s ease;
}

/* Css relacionado a la pagina contactos*/


.hero-contacto {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 2rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.form {
  width: 90%;
  max-width: 1000px;
  background-color: #b4b0a2;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(14, 13, 13, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
}

.contacto-info {
  background: linear-gradient(245.59deg, #706c61 0%, #f8f4e3 200%);
  padding: 2rem;
  border-radius: 10px;
}

.contacto-form {
  background: linear-gradient(245.59deg, #706c61 0%, #f8f4e3 200%);
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}

.circulo {
  border-radius: 50%;
  position: absolute;
  background-color: rgba(42, 43, 42, 0.1);
}

.circulo.uno {
  margin-right: 3%;
  width: 130px;
  height: 130px;
  top: 30px;
  right: -40px;
}

.circulo.dos {
  width: 80px;
  height: 80px;
  bottom: 10px;
  right: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}

.titulo-c {
  color: #2a2b2a;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
}

.text {
  color: #000;
  margin: 1.5rem 0 2rem 0;
  text-align: center;
}

.informacion {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
  margin: 0.7rem 0;
  font-size: 1rem;
}

.icon {
  width: 28px;
  height: 28px;
  border-radius: 30%;
}

.maps {
  width: 100%;
  border-radius: 20px;
  margin-top: 1.5rem;
}

.entrada {
  width: 100%;
  border: 2px solid #2a2b2a;
  padding: 0.8rem 1.2rem;
  border-radius: 25px;
  background: transparent;
  font-size: 1rem;
  outline: none;
}

textarea.entrada {
  resize: none;
  min-height: 150px;
  max-height: 300px;
}

.subform label {
  display: block;
  margin-bottom: 0.5rem;
  color: #2a2b2a;
  font-size: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: #2a2b2a;
  color: #b4b0a2;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
}

.btn:hover {
  background-color: transparent;
  color: #2a2b2a;
  border: 2px solid #2a2b2a;
}

/*Css relacionado a catalogo*/

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 90%;
  height: 98%;
  text-align: center;
  padding: 10px;
  background: #2A2B2A;
  border-radius: 10px 40px 10px 40px;
  /* Esquinas (arriba-izquierda, arriba-derecha, abajo-derecha, abajo-izquierda) */
}

.producto img {
  margin-top: 5%;
  width: 300px;
  height: 300px;
  /* Ajusta la imagen al ancho completo del contenedor */
  margin-bottom: 20px;
  border-radius: 10px 40px 10px 40px;
  /* Ajusta el margen inferior en lugar de derecho */
}

.producto .contenido {
  max-width: 90%;
  /* Permite que el contenido ocupe todo el ancho */
}

.producto h3 {
  font-size: 25px;
  color: #b4b0a2;
  font-family: 'Oleo Script', sans-serif;
}

.producto p {
  font-size: 14px;
  color: #b4b0a2;
}

.producto .precio {
  font-size: 20px;
  color: #b4b0a2;
  font-family: 'Oleo Script', sans-serif;
  padding: 10px;
}

.producto button {
  padding: 10px 20px;
  background-color: #b4b0a2;
  color: #2A2B2A;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Oleo Script', sans-serif;
  border: #b4b0a2 1px solid;
}

.producto button:hover {
  background-color: #2A2B2A;
  color: #F8F4E3;
}

.catalogo {
  display: grid;
  flex-direction: column;
  margin-top: 90px;
  padding: 80px;
  background: transparent;
  padding: 33px 9%;
}


.catalogo h2 {
  font-family: "Playwrite CU", cursive;
  color: #b4b0a2;
  ;
  border-bottom: 10px dashed transparent;
  /* Borde punteado transparente */
  background-color: #2A2B2A;
  border-radius: 10px 40px 10px 40px;
  text-align: center;
}


.catalogo-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Tres columnas de igual tamaño */
  justify-content: center;
  margin-left: 3%;
  padding: 3%;
}

.precio_boton {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Tres columnas de igual tamaño */
}

/*Estilos de la seccion de carrito*/



.seccion-carrito{
  display: grid;
  flex-direction: row;
  margin-top: 90px;
  padding: 80px;
  background: transparent;
  padding: 33px 9%;
  align-items: center;
  justify-items: center;
}

.contenedor-producto {
  display: grid;
  grid-template-columns: 15% 30% 20% 10% 10%; 
  align-items: center;
  gap: 3%;
  border-bottom: solid 1px #000;
}

.producto-carrito-imagen {
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden; 
  padding: 5px;
}

.producto-carrito-imagen img {
  max-width: 100%; 
  height: auto; 
}

.producto-carrito-nombre {
  padding-left: 5%;
}
.producto-carrito-nombre p {
  font-size: 20px;
  font: 'Oleo Script';
  font-weight: 600;
}

.producto-carrito-precio,
.producto-carrito-cantidad {
  text-align: center;
}

.precio-total-carrito {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.grid-container {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas del mismo tamaño */
  gap: 10px; /* Espaciado entre los elementos */
  width: 80%;
  background-color: #b4b0a2;
  padding: 20px;
  border: 2px solid  #2A2B2A;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.boton-carrito{
  padding: 20px;
  padding: 10px 20px;
  background-color: #b4b0a2;
  color: #2A2B2A;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Oleo Script', sans-serif;
  border: #b4b0a2 1px solid;
}

.boton-carrito:hover {
  background-color: #2A2B2A;
  color: #F8F4E3;
}

form {
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}